#sidebar{
    display: none;
}

#main{
    width: 100% !important;
    margin: 0 auto !important;
    padding: 0 !important;
}


.travel-menu{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
}

.travel-menu img{
  width: 80%;
  height: auto;
  border-radius: 10px;
  cursor: pointer;
}

.travel-box{
  width: 50%;
}

.textarea01{
  margin: 0 auto;
  width: 80%;
}

/*モーダル*/
.image-modal {
  position: fixed;
  top: 10%;
  left: 10%;
  width: 80%;
  height: auto;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  border-radius: 10px;
}

.image-modal-content {
  position: relative;
  max-width: 90%;
  max-height: 90%;
}

.image-modal-content img {
  width: 100%;
  height: auto;
  display: block;
}

.close-button {
  position: absolute;
  top: -10px;
  right: -10px;
  background: white;
  border: none;
  font-size: 24px;
  line-height: 1;
  cursor: pointer;
  border-radius: 50%;
  width: 34px;
  height: 34px;
}

.hidden {
  display: none;
}

/************************************
** レスポンシブデザイン用のメディアクエリ
************************************/
/*1023px以下*/
@media screen and (max-width: 1023px){
  /*必要ならばここにコードを書く*/
}

/*834px以下*/
@media screen and (max-width: 834px){
  /*必要ならばここにコードを書く*/
  .travel-box{
    width: 100%;
  }

  .image-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

/*480px以下*/
@media screen and (max-width: 480px){
  /*必要ならばここにコードを書く*/
}
